asgiref==3.11.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2024.2
cryptography==42.0.5
Django==5.0.14
django-anymail==10.2
django-axes==6.3.0
django-crispy-forms==2.1
django-csp==3.7
django-debug-toolbar==4.3.0
django-environ==0.11.2
djangorestframework==3.15.2
filelock==3.13.1
idna==3.11
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
psutil==5.9.8
psycopg2-binary==2.9.9
pycparser==3.0
python-dotenv==1.0.1
python-json-logger==2.0.7
requests==2.32.5
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
watchdog==4.0.0
